[package]
name = "ethercat-sys"
description = "Binding to the Etherlab open-source EtherCAT master"
keywords = ["ethercat", "master", "etherlab", "binding"]
version = "0.1.1"
authors = ["Georg Brandl <g.brandl@fz-juelich.de>"]
license = "MIT/Apache-2.0"
edition = "2018"

[dependencies]
ioctl-sys = "0.5.2"

[build-dependencies]
bindgen = "0.49.0"
